h3 {
	font-size:30px;
	font-family: garamond;
	color:teal;
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(240,230,140);
}

li {
	float: left;
}

li a {
	display: block;
	color: blue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(154,205,50);
}

.button1 {
	background-color: rgb(110,175,60);
	color: white;
	text-align: center;
	font-size: 32px
	padding: 30px 15px;
}
